Package: cjdns
Version: 0.3-462
Architecture: i386
Section: web
Maintainer: Philip Horger <campadrenalin@gmail.com>
Homepage: https://github.com/cjdelisle/cjdns
Depends: libevent2.0.17, libc6
Suggests: cjdnsify, cjconf
Description: An encrypted overlay network that uses existing internet
	infrastructure to provide IPv6 connectivity and mesh routing.
